
.icon{
    border-radius: 25px;
    border:2px ridge #efea5a;
    

    
}
a{
    font-family:fantasy, sans-serif;
    color:black;
    font-weight: bolder;
    text-align: center;
    background:linear-gradient(80deg,#fafafa,#43909e);
    padding: 3px 8px;
    border-radius: 10px;
    font-weight: 600;
    text-decoration: none;
    
}

.habilidades{
    color:black;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background:linear-gradient(80deg,#133444,#19be7f,#053850);
    padding: 20px 400px;
    border-radius: 400px;
    border:5px ridge #efea5a;
    margin:35px;
}
.indice{
    font-size:25px;
    color:black;
    }
.confiante{
    font-size:21px;
}
.persist{
    font-size:19;
}
.pontual{
 font-size:17px;  
}
em{
    text-decoration:underline;

}
.titulo{
    font-family:sans-serif;
    background:linear-gradient(80deg,#133444,#19be7f,#053850);
    padding: 20px 400px;
    border-radius: 400px;
    border:5px ridge #efea5a;
    text-align: center;
    
   
    }
body{
    background:linear-gradient(80deg,#33434b,#314b40,#3e5a64);
    border: #efea5a;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
   }
.foto{
    border-radius: 200px;
    border:5px ridge #efea5a;
    }
 a:hover {
        padding: 7px 20px;
        background:linear-gradient(80deg,#0be290,#10be44);
    }
    .foto-bloco{
        position: relative;
        float: left;
        padding: 20px;
    }
    .sobre{
       padding: 20px;
    }
    span{
        color:#103c8f
    }

        
        
        
    
    